<body>
    <div class="wrapper">
        <app-leftmenu class="leftmenuBackground"></app-leftmenu>
        <main class="main-container">
            <div class="main-con-inner">
                <app-header></app-header>
                <div class="dasbo-content-container">
                    <div class="dasbo-content-container-inner">
                        <div class="apr-top-bar">
                            <h3>Phone Number</h3>
                            <span class="createnewSpanOuter">
                                <img src="./assets/img/contactIcon/newConnectionOuter.svg" alt="">
                                <img src="./assets/img/contactIcon/newConnectionInner.svg" alt="" class="createNewSpanInner">
                            </span>
                            <span class="createNew">
                                Create New Number
                            </span>
                            <div class="tb-sort"><img src="./assets/img/sort-icon.svg"><span>sort</span></div>
                        </div>
                        <table class="totalEmployees-table table">
                            <tr>
                                <th>Details</th>
                                <th>Assigned Employee</th>
                                <!-- <th>
                                    <div class="pagination">
                                    <div class="per-page"><span>Rows per page:</span> <span class="color-4B506D">8</span><span><img src="./assets/img/paginationDownArrow.svg"></span></div>
                                    <div class="pagination-action">
                                        <span>1-8 of 1240</span><span class="previous"><img src="./assets/img/paginationleftArrow.svg"></span><span class="next"><img src="./assets/img/paginationRightArrow.svg"></span>
                                    </div>
                                </div>
                            </th> -->
                            </tr>
                            <tr style="background-color: #FFF;    position: relative; box-shadow: 0px 11px 5px rgba(0, 0, 0, 0.25);">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/contactIcon/circleIcon1.svg"></div>
                                        
                                        <div class="img-cont">
                                            <h5>8888888888</h5>
                                            <p>Update 1 day ago</p>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2" class="approved-date">
                                   <span>
                                       <img src="./assets/img/circuleShape/blue.svg" alt="">
                                   </span>
                                   <span>
                                    <img src="./assets/img/circuleShape/black.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/darkGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/midGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/lightGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/moreOptions.svg" alt="" class="moreOption">
                                </span>

                                <span class="optionalPopUp"><img src="./assets/img/moreOptionIcon.svg"></span>
                                </td>
                                
                            </tr>
                           <tr class="color-F6F4FF">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p class="img-designation">Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/removeOuterIcon.svg"><img src="./assets/img/removeInnerIcon.svg" style="position: relative;
                                            right: 18px;
                                            margin-right: 0px;"> <span class="color-DC0909 removeIcon">Remove</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="color-F6F4FF">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p class="img-designation">Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/removeOuterIcon.svg"><img src="./assets/img/removeInnerIcon.svg" style="position: relative;
                                            right: 18px;
                                            margin-right: 0px;"> <span class="color-DC0909 removeIcon">Remove</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="color-F6F4FF">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p class="img-designation">Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/removeOuterIcon.svg"><img src="./assets/img/removeInnerIcon.svg" style="position: relative;
                                            right: 18px;
                                            margin-right: 0px;"> <span class="color-DC0909 removeIcon">Remove</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="color-F6F4FF">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p class="img-designation">Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/removeOuterIcon.svg"><img src="./assets/img/removeInnerIcon.svg" style="position: relative;
                                            right: 18px;
                                            margin-right: 0px;"> <span class="color-DC0909 removeIcon">Remove</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="color-F6F4FF">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p class="img-designation">Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/removeOuterIcon.svg"><img src="./assets/img/removeInnerIcon.svg" style="position: relative;
                                            right: 18px;
                                            margin-right: 0px;"> <span class="color-DC0909 removeIcon">Remove</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="background-color: #FFF;">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/contactIcon/circleIcon2.svg"></div>
                                        
                                        <div class="img-cont">
                                            <h5>8888888888</h5>
                                            <p>Update 1 day ago</p>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2" class="approved-date">
                                   <span>
                                       <img src="./assets/img/circuleShape/blue.svg" alt="">
                                   </span>
                                   <span>
                                    <img src="./assets/img/circuleShape/black.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/darkGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/midGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/lightGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/moreOptions.svg" alt="" class="moreOption">
                                </span>

                                <span class="optionalPopUp"><img src="./assets/img/moreOptionIcon.svg"></span>
                                </td>
                                
                            </tr>
                            <tr style="background-color: #FFF;">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/contactIcon/circleIcon3.svg"></div>
                                        
                                        <div class="img-cont">
                                            <h5>8888888888</h5>
                                            <p>Update 1 day ago</p>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2" class="approved-date">
                                   <span>
                                       <img src="./assets/img/circuleShape/blue.svg" alt="">
                                   </span>
                                   <span>
                                    <img src="./assets/img/circuleShape/black.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/darkGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/midGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/lightGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/moreOptions.svg" alt="" class="moreOption">
                                </span>

                                <span class="optionalPopUp"><img src="./assets/img/moreOptionIcon.svg"></span>
                                </td>
                                
                            </tr>
                            <tr style="background-color: #FFF; box-shadow: 0px 11px 5px rgba(0, 0, 0, 0.25);">
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/contactIcon/circleIcon4.svg"></div>
                                        
                                        <div class="img-cont">
                                            <h5>8888888888</h5>
                                            <p>Update 1 day ago</p>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2" class="approved-date">
                                   <span>
                                       <img src="./assets/img/circuleShape/blue.svg" alt="">
                                   </span>
                                   <span>
                                    <img src="./assets/img/circuleShape/black.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/darkGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/midGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/lightGray.svg" alt="" class="marginSpace">
                                </span>
                                <span>
                                    <img src="./assets/img/circuleShape/moreOptions.svg" alt="" class="moreOption">
                                </span>

                                <span class="optionalPopUp"><img src="./assets/img/moreOptionIcon.svg"></span>
                                </td>
                                
                            </tr>
                           
                          
                        </table>
                        <div class="pagination">
                            <div class="per-page"><span>Rows per page:</span> <span class="color-4B506D">8</span><span><img src="./assets/img/paginationDownArrow.svg"></span></div>
                            <div class="pagination-action">
                                <span>1-8 of 1240</span><span class="previous"><img src="./assets/img/paginationleftArrow.svg"></span><span class="next"><img src="./assets/img/paginationRightArrow.svg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>