<body>
    <div class="wrapper">
    <app-leftmenu class="leftmenuBackground"></app-leftmenu><main class="main-container">
    <div class="main-con-inner">
        <!-- <div class="back" (click)="goBack()"><img src="./assets/img/backarrow.svg"><span>Back</span></div> -->
        <app-header></app-header>
        <div class="dasbo-content-container employee_data">
            <div class="dasbo-content-container-inner">
                <div class="employee_details">
                    <div class="block-unblock"><img src="./assets/img/blockIcon.svg"><span class="color-DC0909">Block/Unblock </span></div>
                    <div class="employee_details_inr">
                        <img src="./assets/img/profile.png">
                        <div class="details">
                            <h3>stevens Rogers<span class="edit"><img src="./assets/img/editIcon.svg">Edit Master Data</span></h3>
                            <h5>Job Title</h5>
                            <p>Member Since: November 2018</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="employee_details">
                    <div class="employee_details_inr">
                        <div style="width: 90%;
                        margin: 0 auto;
                        margin-top: 25px;">
                            <div style="font-size: 20px; font-family:'Roboto'; font-weight:600; color:#151515">
                                Personal Details
                            </div>
                            <div style="display: flex; margin-top:20px;">
                               <div class="personalDetails">
                                   Phone Number :
                               </div>
                               <div style="position: relative;
                               left: 160px;" class="personalDetails">
                                   Address :
                               </div>
                            </div>
                        </div>
                        <div style="width: 90%;
                        margin: 0 auto;
                        margin-top: 25px;" class="personalDetails">
                            Email Id :
                        </div>
                        
                    </div>
                    
                    
                </div>
                
                <table class="totalEmployees-table table">
                    <tr>
                        <th class="assignedNumber">Assigned Numbers</th>
                        <th>Assigned to</th>
                        <th style="float: right">
                            <span class="outerIconPosition">
                                <img src="assets/img/details/circleOuterIcon.svg" alt="">
                            </span>
                            <span class="innerIconPosition">
                                <img src="assets/img/details/circleInnerIcon.svg" alt="">
                            </span>
                            <span class="addNumberButton">Add Number</span>
                        </th>
                    </tr>
                    <tr >
                        <td class="em-detail">
                            <div class="em-details-div">
                                <div class="ap-em-img"><img src="assets/img/contactIcon/circleIcon1.svg"></div>
                                
                                <div class="img-cont">
                                    <h5>8888888888</h5>
                                    <p>Update 1 day ago</p>
                                </div>
                            </div>
                        </td>
                        <td class="approved-date">
                           <span>
                               <img src="assets/img/circuleShape/blue.svg" alt="">
                           </span>
                           <span>
                            <img src="assets/img/circuleShape/black.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/darkGray.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/midGray.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/lightGray.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/moreOptions.svg" alt="" class="moreOption">
                        </span>

                        </td>
                        <td class="view-block" style="float: right">
                            <div class="view-block-inner">
                                <div class="view"><span class="color-black_1 thData">View Number</span></div>
                                <div class="view"><span class="color-black_1 thData">Change Number</span></div>
                                <div class="block"><span class="thData thColor">Remove Number</span></div>
                                
                            </div>
                        </td>
                        
                    </tr>
                    <tr >
                        <td class="em-detail">
                            <div class="em-details-div">
                                <div class="ap-em-img"><img src="assets/img/contactIcon/circleIcon1.svg"></div>
                                
                                <div class="img-cont">
                                    <h5>8888888888</h5>
                                    <p>Update 1 day ago</p>
                                </div>
                            </div>
                        </td>
                        <td class="approved-date">
                           <span>
                               <img src="assets/img/circuleShape/blue.svg" alt="">
                           </span>
                           <span>
                            <img src="assets/img/circuleShape/black.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/darkGray.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/midGray.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/lightGray.svg" alt="" class="marginSpace">
                        </span>
                        <span>
                            <img src="assets/img/circuleShape/moreOptions.svg" alt="" class="moreOption">
                        </span>

                        </td>
                        <td class="view-block" style="float: right">
                            <div class="view-block-inner">
                                <div class="view"><span class="color-black_1 thData">View Number</span></div>
                                <div class="view"><span class="color-black_1 thData">Change Number</span></div>
                                <div class="block"><span class="thData thColor">Remove Number</span></div>
                                
                            </div>
                        </td>
                        
                    </tr>
                </table>
                <table class="callLogs table">
                    <tr class="callLog_head">
                        <th class="cl_head">Call Logs</th>
                        <th>Date</th>
                        <th>Duration</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="calLog-detail">
                            <img src="./assets/img/circleC.svg">
                            <span><img src="./assets/img/blueDownArrow.svg"></span>
                            <div class="calLog_details">
                                <p>Caller Name</p>
                                <h5>88 999 8887</h5>
                            </div>
                        </td>
                        <td class="callLog_Date">10 May | 07:51 PM</td>
                        <td class="callLog_duration">Duration : 01:20:00 Sec</td>
                        <td class="callLog_Recording"><img src="./assets/img/recordingIcon.svg"><span>Listen Recording</span></td>
                    </tr>
                    <tr>
                        <td class="calLog-detail">
                            <img src="./assets/img/circleC.svg">
                            <span><img src="./assets/img/blueDownArrow.svg"></span>
                            <div class="calLog_details">
                                <p>Caller Name</p>
                                <h5>88 999 8887</h5>
                            </div>
                        </td>
                        <td class="callLog_Date">10 May | 07:51 PM</td>
                        <td class="callLog_duration">Duration : 01:20:00 Sec</td>
                        <td class="callLog_Recording"><img src="./assets/img/recordingIcon.svg"><span>Listen Recording</span></td>
                    </tr>
                    <tr>
                        <td class="calLog-detail">
                            <img src="./assets/img/circleC.svg">
                            <span><img src="./assets/img/blueDownArrow.svg"></span>
                            <div class="calLog_details">
                                <p>Caller Name</p>
                                <h5>88 999 8887</h5>
                            </div>
                        </td>
                        <td class="callLog_Date">10 May | 07:51 PM</td>
                        <td class="callLog_duration">Duration : 01:20:00 Sec</td>
                        <td class="callLog_Recording"><img src="./assets/img/recordingIcon.svg"><span>Listen Recording</span></td>
                    </tr>
                    <tr>
                        <td class="calLog-detail">
                            <img src="./assets/img/circleC.svg">
                            <span><img src="./assets/img/blueDownArrow.svg"></span>
                            <div class="calLog_details">
                                <p>Caller Name</p>
                                <h5>88 999 8887</h5>
                            </div>
                        </td>
                        <td class="callLog_Date">10 May | 07:51 PM</td>
                        <td class="callLog_duration">Duration : 01:20:00 Sec</td>
                        <td class="callLog_Recording"><img src="./assets/img/recordingIcon.svg"><span>Listen Recording</span></td>
                    </tr>
                    <tr>
                        <td class="calLog-detail">
                            <img src="./assets/img/circleC.svg">
                            <span><img src="./assets/img/blueDownArrow.svg"></span>
                            <div class="calLog_details">
                                <p>Caller Name</p>
                                <h5>88 999 8887</h5>
                            </div>
                        </td>
                        <td class="callLog_Date">10 May | 07:51 PM</td>
                        <td class="callLog_duration">Duration : 01:20:00 Sec</td>
                        <td class="callLog_Recording"><img src="./assets/img/recordingIcon.svg"><span>Listen Recording</span></td>
                    </tr>
                </table>
                  
            </div>
        </div>
    </div>
</main>

</div>
</body>
