<body>
    <div class="wrapper">
        <app-leftmenu class="leftmenuBackground"></app-leftmenu>
        <main class="main-container">
            <div class="main-con-inner">
                <app-header></app-header>
                <div class="dasbo-content-container">
                    <div class="dasbo-content-container-inner">
                        <div class="apr-top-bar">
                            <h3>Total Employees</h3>
                            <div class="tb-sort"><img src="./assets/img/sort-icon.svg"><span>sort</span></div>
                        </div>
                        <table class="totalEmployees-table table">
                            <tr>
                                <th>Employee Name</th>
                                <th>Approved On</th>
                                <th>
                                    <div class="pagination">
                                    <div class="per-page"><span>Rows per page:</span> <span class="color-4B506D">8</span><span><img src="./assets/img/paginationDownArrow.svg"></span></div>
                                    <div class="pagination-action">
                                        <span>1-8 of 1240</span><span class="previous"><img src="./assets/img/paginationleftArrow.svg"></span><span class="next"><img src="./assets/img/paginationRightArrow.svg"></span>
                                    </div>
                                </div>
                            </th>
                            </tr>
                           <tr>
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p>Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view" (click)="routeToProfile()"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/blockIcon.svg"> <span class="color-DC0909">Block/Unblock</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p>Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/blockIcon.svg"> <span class="color-DC0909">Block/Unblock</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p>Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/blockIcon.svg"> <span class="color-DC0909">Block/Unblock</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p>Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/blockIcon.svg"> <span class="color-DC0909">Block/Unblock</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p>Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/blockIcon.svg"> <span class="color-DC0909">Block/Unblock</span></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-detail">
                                    <div class="em-details-div">
                                        <div class="ap-em-img"><img src="./assets/img/profile.png"></div>
                                        
                                        <div class="img-cont">
                                            <h5>Tom Cruise</h5>
                                            <p>Designation/Department</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="approved-date">
                                    May 26, 2019
                                </td>
                                <td class="view-block">
                                    <div class="view-block-inner">
                                        <div class="view"><img src="./assets/img/viewIcon.svg"> <span class="color-1649DA">View Master Data</span></div>
                                        <div class="block"><img src="./assets/img/blockIcon.svg"> <span class="color-DC0909">Unblock Now</span></div>
                                    </div>
                                </td>
                            </tr>
                          
                        </table>
                        <div class="pagination">
                            <div class="per-page"><span>Rows per page:</span> <span class="color-4B506D">8</span><span><img src="./assets/img/paginationDownArrow.svg"></span></div>
                            <div class="pagination-action">
                                <span>1-8 of 1240</span><span class="previous"><img src="./assets/img/paginationleftArrow.svg"></span><span class="next"><img src="./assets/img/paginationRightArrow.svg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>