  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header" routerLink="/dashboard">
        <span>
            <img src="./assets/img/dashboardImg.svg">
        </span>
        <h3>Admin Dashboard</h3>
    </div>

    <ul class="list-unstyled">
       
        <li>
            <a routerLink="/approvals">
                <img src="./assets/img/left_MenuIcon/approval.svg" alt="">
                Approvals</a>
            
        </li>
        <li>
            <a  routerLink="/total-employee">
                <img src="./assets/img/left_MenuIcon/employee.svg" alt="">
                Total Employees</a>
           
        </li>
        <li>
            <a routerLink="/blocked-employee">
                <img src="./assets/img/left_MenuIcon/blockedEmployee.svg" alt="">
                Blocked Employees</a>
        </li>
        <li>
            <a routerLink="/my-phone-number">
                <img src="./assets/img/left_MenuIcon/phoneNumber.svg" alt="">
                My Phone Numbers</a>
        </li>
    </ul>
    
</nav>