<div class="loginDisplay" *ngIf="isLogin">
    <div>
        <span class="headerData">
            Admin Portal Login
        </span>
        <span class="errorText" *ngIf="isError">{{errorText}}</span>
    </div>
   
    <div class="emailPoss">
        <input type="text" placeholder="Email" name="loginEmail"
                [(ngModel)]="loginEmail" class="inputEmailField">
    </div>
    <div class="passPoss">
        <input [type]="!showPwd ? 'Password' : 'text' " placeholder="Password" name="loginPassword"
                [(ngModel)]="loginPassword" class="inputPassField">
        <div>
            <span class="forgotPass">
                Forgot Password
            </span>
        </div>
    </div>
    <div class="btnPoss">
        <button class="proceedBtn" (click)="loginSubmit()">Proceed</button>
    </div>
    
    <div>
       <span class="FTSUser">
        First time user? 
        <span (click)="changeMode()">
            Register Here
        </span>
       </span>
    </div>
    
</div>


<!-- =========================== SIGNUP PROCESS Start============================ -->
<div class="loginDisplay" *ngIf="!isLogin">
   

    <div>
        <span class="headerData">
            Admin Portal Registration
        </span>
        <span class="errorText" *ngIf="isError">{{errorText}}</span>
    </div>
    <div class="emailPoss inputFieldReg">
        <input type="tel" placeholder="Phone Number" name="regMobile" class="inputFieldForMobileReg" 
                [(ngModel)] = "regMobile" >
        <input type="text" placeholder="Email Id" name="regEmail" class="inputFieldForEmailReg"
                [(ngModel)] = "regEmail" >
    </div>
    <div class="passPoss inputFieldReg" style="top:140px">
        <input type="password" placeholder="Create Password" name="regPassword" class="inputFieldForPassReg"
                [(ngModel)] = "regPassword" >
        <input type="password" placeholder="Re Type Password" name="regConfirmPassword" class="inputFieldForRepeatPassReg"
                [(ngModel)] = "regConfirmPassword" >
    </div>
    <div class="btnPoss">
        <button class="proceedBtn" style="position: relative;top: 30px;" (click)="registration()">Proceed</button>
    </div>
    
    <div>
       <span class="FTSUser" style=" position: relative;top: 220px">
        Already Registered? 
        <span (click)="changeMode()">
            Login Here
        </span>
       </span>
    </div>
    
</div>